<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenMyCourse</title>

    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/create-form.css" />
    <link rel="stylesheet" href="~/css/course.css" />
</head>
<body>
    <header>
        <h1><a asp-area="" asp-controller="Home"  asp-action="Index">OpenMyCourse</a></h1>
        <div id="sidebar">
            <div class="toggle-btn" onclick="openMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li>МЕНЮ</li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a asp-area="" asp-controller="Profile" asp-action="Index">Список моих курсов</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Список всех курсов</a></li>
                <li><a href="contacts">Контакты</a></li>
                <li><a href="about">Про нас</a></li>
            </ul>
        </div>
        <div id="user">
            <i class="fa fa-user-o" aria-hidden="true">
                <li>
                    @if (IsSectionDefined("UserSection"))
                    {
                        @RenderSection("UserSection")
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Profile" class="submenu-link">Гость</a>
                        <ul class="submenu" style="width: 100%">
                            <li><a asp-area="" asp-controller="User" asp-action="Login">Войти</a></li>
                            <li><a asp-controller="User" asp-action="Registration">Зарегистрироваться</a></li>
                        </ul>
                    }

                </li>
            </i>
        </div>
    </header>
   

    <main role="main" id="main">
        @RenderBody()
    </main>

    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
